.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    font-size: 30px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
  }

li {
      text-align: center;
      list-style: none;
      font-size: 22px;
  }